



<!DOCTYPE html>
<html>
<title>Cloud Agnostic Platform</title>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">


    </script>
    <script type="text/javascript">
        vall = window.location.href;
        hgfr = vall.split('/')
        dns = hgfr[2]
        iop = `http://${dns}/`


    </script>


</head>

<body style="background-color:powderblue; align-content:auto">
    <div class="container"><br /><br />
        <h2 class="ui header green">AGNOSTIC PLATFORM</h2>
        <b>
            <div class="pull-right">
                <form action="/login/admin/logout" method="post">
                    <button type="submit" class="btn btn-info">Logout</button>
                </form>
            </div>
        </b>

        <br />
        <strong>GENERATE TOKEN BELOW:</strong><br /><br />
        <form action="/login/admin/token" method="post" class="ui form" enctype="multipart/form-data">
            <input type="hidden" name="auth_key" id="6566">
            <label for="cloud">Email / Username:</label>
            <input type="search" name="token" id="token" required>
            <br><br /><br />
            <input type="checkbox" onclick="Check();"  value="one" id="yesCheck" style="background-color: black;width:16px;height:16px">
            <strong>Temporary Access </strong>
            <br><br>
            <div id="ifYes" style="display:none">
                <div>
                    <strong>ENTER EXPIRY TIME</strong><input type="datetime-local" size="50" name="startDate"
                        id="yed" />
                </div>
            </div>
            <br><br />
            <br><br /><br />
            <input type="checkbox" onclick="Check1();" value="one" id="yesCheck1" style="background-color: black;width:16px;height:16px">
            <strong>Single File Access </strong>
            <br><br>

            <div id="ifYes1" style="display:none">
                <div>
                    <strong>FileName</strong><input type="text" size="50" name="file_name" id="file_id" />
                </div>
            </div>
            <br><br />

            <ul>
                {% for item in data %}
                <p>YOUR GENERATED TOKEN:</p>
                <li>{{item}}</li>

                {% endfor %}
            </ul>

            <br><br />
            <div id="1232" style="display:none">
                <ul>
                    {% if url %}
                    <p>Your GENERATED URL:</p>
                    <li>
                    <a id ='7834' style="font-weight:bold">
                        <script type="text/javascript">
                            document.write(iop)
                        </script>{{url}}
                    </a>
                    </li>

                    {% endif %}
                </ul>
            </div>
            <br><br>


            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        <hr>
    </div>


</body>

<script type="text/javascript">
    function Check() {
        var3 = document.getElementById('yesCheck').checked;
        vad5 = document.getElementById('ifYes').style.display;
        if (document.getElementById('yesCheck').checked && vad5 != 'block') {
            document.getElementById('ifYes').style.display = 'block';
        }
        else {
            // document.getElementById('yesCheck').unchecked;
            document.getElementById('ifYes').style.display = 'none';

        }
    }
</script>

<script type="text/javascript">
    $('input[type=radio]').click(function () {
        if (this.previous) {
            this.checked = false;

        }
        this.previous = this.checked;
    });
    function Check1() {
        vad51 = document.getElementById('ifYes1').style.display;
        if (document.getElementById('yesCheck1').checked && vad51 != 'block') {
            document.getElementById('ifYes1').style.display = 'block';
        }
        else {
            document.getElementById('ifYes1').style.display = 'none';
            document.getElementById('file_id').textContent = '';


        }
    }
</script>

<script type="text/javascript">
    document.getElementById('6566').value = '{{ auth_token }}'
    dddd = '{{ auth_token }}'


    //valo = document.getElementById("1232").textContent

    valo = '{{url}}'
    td = valo.split('=');    
    if (td[1] != '') {
        get_file_url = iop+valo
        document.getElementById('7834').href = get_file_url

        
        document.getElementById("1232").style.display = 'block';
    }
</script>



<script type="text/javascript">

    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>




</html>
